bin
build
.vs
*.user
*.filters
lib
testfiles
*.aps
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.sln
*.vcxproj
x64
version.cpp
Makefile
src/derperview/derperview.dir
src/libderperview/libderperview.dir
